.omf-title-menu,
.omf-lists-background > div:last-child h4:first-child {
  font-weight: normal;
}

.omf-title-menu {
  font-size: 22px;
  text-transform: uppercase;
  &:after {
    display: block;
    clear: both;
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    max-width: 250px;
    height: 1px;
    width: 50px; /* or 100px */
    border-bottom: 1px solid $tertiary;
    padding: 4px 0px;
  }
}

.omf-lists-menu {
  @include flex-basic(column, null, null, null, null);
}

.omf-lists-background {
  box-shadow: $box_shadow rgba($shadow_color, $shadow_opacity);
  height: 70px;
  background-color: $bg_color;
  width: 100%;
  border-radius: 20px 20px;
  padding: 10px;
}

.omf-lists-background > div:first-child {
  @include flex-basic(row, null, null, null, null);
}

.omf-lists-background > div:last-child {
  @include flex-basic(row, null, null, space-between, null);
}
