@import "variables.scss"; /** VARIABLES FOR COLOR SCHEME **/
@import "mixin.scss";
@import "global.scss"; /** IMPORT FOR GLOBAL CLASS **/

.omf-cards {
  @include flex-basic(column, null, null, null, null);
  background-color: $bg_color;
  min-height: 250px;
  box-shadow: $box_shadow rgba($shadow_color, $shadow_opacity * 0.5);
  color: $font_color;
  font-family: $font_text;
  cursor: pointer;
  border-radius: 20px 20px;
  margin-bottom: 20px;
}

.omf-cards .image {
  position: relative;
  min-height: 172px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 60% right;
}

.omf-cards .bgimage-1 {
  background-image: url($path_image + "restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.omf-cards .bgimage-2 {
  background-image: url($path_image + "restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.omf-cards .bgimage-3 {
  background-image: url($path_image + "restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.omf-cards .bgimage-4 {
  background-image: url($path_image + "restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.omf-cards .image .nouveau {
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: #99e2d0;
  width: 79px;
  height: 30px;
}

.omf-cards .nouveau > p {
  text-align: center;
  vertical-align: baseline;
  margin-top: 7px;
  font-family: $font_text;
  color: #01946f;
  font-weight: bold;
  font-size: 14px;
}

.omf-cards .description {
  @include flex-basic(row, wrap, null, null, null);
  flex: 1;
}
.omf-cards .description .texte {
  @include flex-basic(column, wrap, null, center, null);
  margin-left: 12px;
  margin-bottom: 5px;
}
.omf-cards .texte h3 {
  margin-top: 14px;
}
.omf-cards .texte p {
  font-weight: normal;
  margin-top: 5px;
}

.omf-cards .position-icon {
  @include flex-basic(row, null, null, flex-end, center);
  flex: 1;
}
.omf-cards .description .coeur {
  &::before {
    transition: 1s;
    margin-right: 25px;
    font-size: 22px;
    content: "\f004";
    color: $bg_color;
    text-shadow: -1px 0 $font_color, 0 1px $font_color, 1px 0 $font_color,
      0 -1px $font_color;
  }
  &:hover::before {
    transition: 1s;
    color: $primary;
  }
}
