@import "variables.scss"; /** VARIABLES FOR COLOR SCHEME **/

.omf-button {
  padding: 10px;
  border: none;
  color: $bg_color;
  background: linear-gradient($secondary, $primary);
  box-shadow: 0 2px 20px 0 rgba($bg_color_4, $shadow_opacity);
  cursor: pointer;
  border-radius: 30px 30px;
}

.size-button-200 {
  width: 220px;
  height: 50px;
}

/** USE LIKE THAT 
<button class="omf-button size-button-200"></button>
**/
