// @import "variables.scss"; /** VARIABLES FOR COLOR SCHEME **/
// @import "mixin.scss";
// @import "global.scss"; /** IMPORT FOR GLOBAL CLASS **/

.omf-title-menu,
.omf-lists-content > .bottom-content > h4:first-child {
  font-weight: normal;
}

.title-container {
  margin-bottom: 25px;
}
.omf-title-menu {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  text-transform: uppercase;
  &:after {
    display: block;
    clear: both;
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    max-width: 250px;
    width: 40px;
    border-bottom: 3px solid $tertiary;
    padding: 3px 0px;
  }
}

.omf-lists-menu {
  @include flex-basic(column, null, null, null, null);
}


.omf-lists-content {
  opacity: 0;
  margin-top: -10px;
  margin-bottom: 16px;
  box-shadow: $box_shadow rgba($shadow_color, $shadow_opacity);
  height: 70px;
  background-color: $bg_color;
  width: 100%;
  border-radius: 15px 15px;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
}


@for $i from 1 through 10 {
    .omf-lists-content:nth-child(#{$i}) {
    -webkit-animation-delay: (#{$i * 1.5s});
    animation-duration: 1.5s;
    animation-delay: (#{$i * 1.5s});
    animation-fill-mode: forwards;
    animation-name: menu_show_load;
  }
}

@keyframes menu_show_load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.omf-lists-content .top-content {
  @include flex-basic(row, null, null, null, null);
}

.omf-lists-content h4,
.omf-lists-content h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.omf-lists-content .bottom-content {
  margin-top: 5px;
  @include flex-basic(row, null, null, space-between, null);
}
.omf-lists-content .bottom-content > div {
  @include flex-basic(row, null, null, null, null);
}

/** ABOUT THE BUTTON **/

.omf-lists-content button i {
  transition: 0.25s;
  visibility: hidden;
  color: $font_color_2;
  font-size: 20px;
}
.omf-lists-content button {
  cursor: pointer;
  margin-left: 10px;
  transition: 1s;
  background-color: $tertiary;
  margin-right: -10px;
  margin-top: -38px;
  height: 71px;
  width: 0px;
  box-shadow: 4px 5px 10px 1px rgba($shadow_color, $shadow_opacity);
  border-radius: 0px 15px 15px 0px;
  margin-right: -10px;
  border: none;
}

.omf-lists-content:hover i {
  transition: 0.5s;
  transform: rotate(360deg);
  visibility: visible;
}

.omf-lists-content:hover button {
  width: 62px;
}

/** END ABOUT THE BUTTON **/
