.omf-title-menu,
.omf-lists-content > .bottom-content > h4:first-child {
  font-weight: normal;
}

.omf-title-menu {
  font-size: 22px;
  text-transform: uppercase;
  &:after {
    display: block;
    clear: both;
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    max-width: 250px;
    height: 1px;
    width: 50px;
    border-bottom: 1px solid $tertiary;
    padding: 4px 0px;
  }
}

.omf-lists-menu {
  @include flex-basic(column, null, null, null, null);
}

.omf-lists-content {
  box-shadow: $box_shadow rgba($shadow_color, $shadow_opacity);
  height: 70px;
  background-color: $bg_color;
  width: 100%;
  border-radius: 15px 15px;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
}

.omf-lists-content .top-content {
  @include flex-basic(row, null, null, null, null);
}

.omf-lists-content .bottom-content {
  @include flex-basic(row, null, null, space-between, null);
}
.omf-lists-content .bottom-content > div {
  @include flex-basic(row, null, null, null, null);
}

/** ABOUT THE BUTTON **/

.omf-lists-content button i {
  transition: 0.25s;
  visibility: hidden;
  color: $font_color_2;
  font-size: 20px;
}
.omf-lists-content button {
  transition: 1.0s;
  background-color: $tertiary;
  margin-right: -10px;
  margin-top: -33px;
    height: 72px;
  width: 0px;
  box-shadow: 4px 5px 10px 1px rgba($shadow_color, $shadow_opacity);
  border-radius: 0px 15px 15px 0px;
  margin-right: -10px;
  border: none;
}

.omf-lists-content:hover i {
  transition: 0.5s;
  transform:rotate(360deg);
  visibility: visible;
}

.omf-lists-content:hover button {
  width: 62px;
}

/** END ABOUT THE BUTTON **/
