/** TRANSITION WHEN RESIZING **/
main {
  transition: all 0.5s ease-in-out 0.5s;
}
@media screen and (min-width: 900px) {
  main {
    @include margin-left-and-right(20%);
    box-shadow: $box_shadow rgba($shadow_color, $shadow_opacity);
  }

  footer {
    @include flex-basic(row, null, null, space-between, null);
  }

  footer > .logo-footer {
    flex-direction: row;
    padding-bottom: 0px;
  }

  footer > ul {
    @include flex-basic(row, null, null, null, center);
    gap: 23px;
  }
}
