/********************** SECTION ACCUEIL ********************/
#accueil {
  @include flex-basic(column, wrap, null, null, center);
  background-color: $bg_color_2;
  padding-bottom: 70px;
}

#accueil > .geolocalisation {
  @include flex-basic(row, null, null, center, null);
  padding-top: 15px;
  background-color: $bg_color_3;
  width: 100%;
  padding-bottom: 20px;
}

#accueil > .home {
  @include flex-basic(column, null, null, null, center);
  @include margin-left-and-right(18px);
  margin-top: 35px;
}

#accueil > .home p,
#accueil > .home h2 {
  text-align: center;
}
#accueil > .home h2 {
  @include margin-left-and-right(30px);
  font-style: bold;
  margin-bottom: 15px;
}
#accueil > .home p {
  margin-bottom: 30px;
}
/********************** END SECTION ACCUEIL ******************/

/********************** SECTION FONCTIONNEMENT ********************/
#fonctionnement {
  @include flex-basic(column, wrap, null, null, null);
  @include margin-left-and-right(20px);
  margin-top: 30px;
  background-color: $bg_color;
  padding-bottom: 70px;
}
#fonctionnement > h2 {
  margin-bottom: 20px;
}
#fonctionnement > .group-items {
  @include flex-basic(column, null, null, null, null);
}
/********************** END SECTION FONCTIONNEMENT ******************/

/********************** SECTION RESTAURANTS ********************/
/********************** END SECTION RESTAURANTS ******************/

/********************** SECTION FOOTER ********************/
/********************** END SECTION FOOTER ******************/
