 //////////////////////////////// HOME PAGE  ////////////////////////////////
/********************** SECTION ACCUEIL ********************/
#accueil {
  @include flex-basic(column, wrap, null, null, center);
  background-color: $bg_color_2;
  padding-bottom: 60px;
}

#accueil > .geolocalisation {
  @include flex-basic(row, null, null, center, null);
  padding-top: 10px;
  background-color: $bg_color_3;
  width: 100%;
  padding-bottom: 15px;
}

#accueil > .home {
  @include flex-basic(column, null, null, null, center);
  @include margin-left-and-right(18px);
  margin-top: 40px;
}

#accueil > .home p,
#accueil > .home h2 {
  text-align: center;
}
#accueil > .home h2 {
  @include margin-left-and-right(30px);
  font-style: bold;
  margin-bottom: 15px;
}
#accueil > .home p {
  margin-bottom: 30px;
}
/********************** END SECTION ACCUEIL ******************/

/********************** SECTION FONCTIONNEMENT ********************/
#fonctionnement {
  @include flex-basic(column, wrap, null, null, null);
  @include padding-left-and-right(20px);
  padding-top: 42px;
  background-color: $bg_color;
  padding-bottom: 32px;
}
#fonctionnement > h2 {
  margin-bottom: 15px;
}
#fonctionnement > .group-items {
  @include flex-basic(column, null, null, null, null);
}
/********************** END SECTION FONCTIONNEMENT ******************/

/********************** SECTION RESTAURANTS ********************/
#restaurants {
  @include flex-basic(column, wrap, null, null, null);
  @include padding-left-and-right(20px);
  background-color: $bg_color_2;
  padding-bottom: 44px;
}
#restaurants > h2 {
  padding-top: 58px;
  padding-bottom: 20px;
}
/********************** END SECTION RESTAURANTS ******************/
//////////////////////////////// END HOME PAGE ////////////////////////////////

//////////////////////////////// OTHERS PAGES ////////////////////////////////////
#page-restaurant {
  @include flex-basic(column, wrap, null, null, center);
  padding-bottom: 60px;
}

.image-delice {
  background-image: url($path_image + 'restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
  min-height: 250px;
}
//////////////////////////////// END OTHERS PAGES ////////////////////////////////
