/** BG COLOR **/
$bg_color: #ffffff;
$bg_color_2: #f6f6f6;
$bg_color_3: #eaeaea;
$bg_color_4: #353535;
/** END BG COLOR **/

/** COLOR ACTIVE ELEMENTS **/
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
/** END COLOR ACTIVE ELEMENTS **/

/** SHADOW OPACITY **/
$shadow_opacity: 0.3;
/** END SHADOW OPACITY **/

/** FONT VARIABLES **/
$font_color: black;
$font_title: "";
$font_text: "";
/** END FONT VARIABLES **/
