/** BG COLOR **/
$bg_color: #ffffff;
$bg_color_2: #f6f6f6;
$bg_color_3: #eaeaea;
$bg_color_4: #353535;
/** END BG COLOR **/

/** COLOR ACTIVE ELEMENTS **/
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
/** END COLOR ACTIVE ELEMENTS **/

/** SHADOW OPACITY **/
$shadow: rgba(100, 100, 111);
$shadow_opacity: 0.2;
/** END SHADOW OPACITY **/

/** FONT VARIABLES **/
$font_color: black;
$font_color_2: white;
$font_title: "Shrikhand", cursive;
$font_text: "Roboto", sans-serif;
/** END FONT VARIABLES **/
