// @import "variables.scss"; /** VARIABLES FOR COLOR SCHEME **/
// @import "mixin.scss";
// @import "global.scss"; /** IMPORT FOR GLOBAL CLASS **/

.group-omf-list {
  @include flex-basic(row, null, null, null, center);
  margin-bottom: 30px;
  margin-right: 15px;
}

.group-omf-list>button:nth-child(1) {
  position: absolute;
  border: none;
  border-radius: 30px 30px;
  background-color: $primary;
  color: $font_color_2;
  height: 25px;
  width: 25px;
}

.group-omf-list>button:nth-child(2) {
  color: $font_color;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
  font-family: $font_text;
  cursor: pointer;
  background-color: $bg_color_2;
  padding: 10px;
  border: none;
  border-radius: 20px 20px;
  margin-left: 15px;
  height: 70px;
  min-width: 100%;
  box-shadow: $box_shadow rgba($shadow_color, $shadow_opacity);

  &:hover {
    background-color: rgba($primary, 0.25);
    box-shadow: $box_shadow rgba($shadow_color, $shadow_opacity * 2);
  }

  &:hover .fontawesome::before {
    color: $primary;
  }
}

.group-omf-list span {
  display: block;
}

.group-omf-list>button:nth-child(2):hover>div::before {
  color: $primary;
}

%icone_settings {
  font-size: 20px;
  position: absolute;
  margin-left: -130px;
  color: rgba($bg_color_4, 0.6);
}

.group-omf-list>button .icone_smartphone::before {
  @extend %icone_settings;
  content: "\f3cf";
}

.group-omf-list>button .icone_list::before {
  @extend %icone_settings;
  content: "\f03a";
}

.group-omf-list>button .icone_shop::before {
  @extend %icone_settings;
  content: "\f54e";
}